@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
:root {
    --yellow-light: #ffe17f;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 30px;
    font-weight: 400;
    color: #444444;
    background-color: #ffffff;
    margin: 0;

}
body a {
    color: black;
    text-decoration: none;
}   
.button-slider {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: none;
    width: 220px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    z-index: 0;
    background:none;
    border: none;
    
}
.button-slider::after{
    position: absolute;
    content: "";
    width: 160px;
    height: 8px;
    background-color: #ffe17f;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}
.button-slider:hover{
    font-family: "Raleway", sans-serif;;
    font-size: 18px;
    line-height:21px;
    font-weight: 800;
    background-color: var(--yellow-light);
}
.button-slider:active{
    background-color: #ffcc33;
}
.button-slider:active::after{
    width: 0;
}

.main-wrapper{
    width: 1160px;
    margin: 0 auto;
}
.main-header {
    background-color: var(--yellow-light);
    width: 1160px;
    height: 300px;
    margin-top: 40px;

}
.main-header-container{
    position: absolute;
    width: 1040px;
    margin: -20.61px 60px 0px 60px;
}
.logo{
    margin-bottom: 30px;
}
.navigation{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
} 

.input{
    
    align-items: center;
    justify-content: space-between;
}
.navigation-input{
    display: flex;
    position: relative;
}


.input input{
    width: 359px;
    color: black;
    background-color: var(--yellow-light);
    border: 2px solid black;
    font-size: 16px;
    line-height: 20px;
    border-radius: 50px 0px 0px 50px;
    padding: 0;
    padding-left: 48px;
    box-sizing: border-box;
    background-image: url("../image/icons/search.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center left 16px;
}



.input button {
    font-family: "Rubik", sans-serif;;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    width: 160px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: var(--yellow-light);
    border-radius: 0px 50px 50px 0px;
    border: 2px solid black;
    border-left: none;
}
.input button:hover{
    color: #ffffff;
    background-color: #000;
}
.input button:active{
    color: rgba(255,255, 255, 0.3);
}

.input-user-container{
    display: flex;
    width: 231px;
    padding: 5px 0;
}
.input-user{
    display: flex;
    height: 30px;
    align-items: center;
}
.navigation-icon{
    margin: auto 12px auto 0px;
}
.navigation-container{
    display: flex;
    width: 240px;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}
.navigation-user{
    display: flex;
    height: 30px;

}
.catalog-menu-container{
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 14px;
}
.catalog-menu{
    width: 293px;
    position: relative;
}
.catalog-menu-link{
    font-size: 18px;
}
.catalog-icon{
    position: absolute;
    left: 243px;
    top: -16px;
}
.navigation-list-shop{
    width: 471px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;   
}

.navigation-user{
    font-size: 18px;
    line-height: 30px;
}

/*Слайдер*/
.main-slider{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.main-slider-image{
    position: relative;
    margin-top: -150px;

}
.flipping-button-prev{
    position: absolute;
    background: none;
    border: none;
    left: 30px;
    top: 211px;
}
.flipping-button-prev:hover{
    opacity: 0.6;
}
.flipping-button-prev:active{
    opacity: 0.3;
}
.flipping-button-next{
    position: absolute;
    background: none;
    border: none;
    right: 0px;
    top: 211px;
}
.flipping-button-next:hover{
    opacity: 0.6;
}
.flipping-button-next:active{
    opacity: 0.3;
}
.slider-content-container{
    margin-top: -29px;
    margin-bottom: 38px;
    width: 560px;

}
.main-slider-title{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 29px;
}
.main-slider-description{
    line-height: 30px;
    margin: 0;
    margin-bottom: 51px;
}
.slider-pagination-button{
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 25px;
    border: 2px solid black;
    background: none;
}
.slider-pagination-button-current{
    background-color: black;
}
.slider-content-container-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
}

.slider-pagination{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 76px;
}

.slider-description-list {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 30px 30px;
    column-gap: 20px;
    row-gap: 12px;
    text-align: center;
    margin: 0;
    margin-bottom: 38px;
}
.device-characteristic-value {
    font-size: 36px;
    line-height: 30px;
    text-align: left;
    margin: 0;
}
.device-characteristic{
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
/*Список категорий девайсов*/
.device-category{
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 172px;
}
    
.device-category-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.device-category-item{
    width: 160px;
    margin-right: 40px;
}
.device-category-item:last-child{
    margin-right: 0;
}
.device-category-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin-bottom: 33px;
    background-color: var(--yellow-light);
}
.device-category-wrapper:hover{
    background-color: #ffc700;
}
.device-category-wrapper:active{
    opacity: 0.3;
}

.device-category-title{
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0%;
}
.device-category-image {

}

/*Раздел Услуги*/
.services{
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 70px;
}

.services-main-container{
    display: flex;
    margin-top: -102px;
    width: 1160px;
    height: 319px;
}
.services-list-container{
    justify-content: center;
    margin-right: 116px;
    border-right: 7px solid black;
}

.services-list{
    display: flex;
    width: 280px;
    margin-top: 64px;
    margin-bottom: 65px;
    padding: 0;
    flex-direction: column;
    justify-content:space-between;
    list-style-type: none;

}
.services-list-item{
    display: flex;
    margin-bottom: 35px;
}
.button-services{
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: none;
    width: 160px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    background:none;
    border: none;
}
.button-services::after{
    position: absolute;
     content: "";
     width: 160px;
     height: 8px;
     background-color: #ffe17f;
     margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}
.button-services-current{
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    color: #ffcc33;
    background-color: black;
    width: 280px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    border: none;
}
.button-services-current:hover{
    color: rgba(255, 225, 127, 0.5);

}
.button-services-current:active{
    color: rgba(255, 225, 127, 0.3);

}
.button-current-text{
    display: block;
    width: 160px;
    text-align: center;
    padding: auto;
}

.services-list-item:first-child{
    margin-top: 9px;
}
.services-list-item:last-child{
    margin-bottom: 10px;
}
.services-container{
    align-content: center;
    margin: 0;
    margin-right: 63px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 90px;
    column-gap: 110px;
    row-gap:34px
}

.services-title{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    width: max-content;
    margin: 0;
    padding: 0;
    grid-column: 1/2;
}
.services-description{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    line-height: 30px;

}

/*Раздел специальная доставка*/
.special-delivery{
    margin-bottom: 70px;



}
.special-delivery-link{
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-template-rows: 100px;
    background-color: var(--yellow-light);
    padding: auto;

}
.special-delivery-image{
    grid-column: 1/2;
    padding: auto;
    align-items: center;
}
.special-delivery-text{
    grid-column: 2/3;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 100px;
    font-weight: 800;
    letter-spacing: 0.2em;
    background-color: #f0f0f0;
    text-transform: uppercase;
    margin: 0; 
    text-align: center;
    color: black;

}


/*Раздел о нас и контакты*/
.information-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
}
.about-us{
    margin-right: 108px;
}
.about-us::before{
    content: '';
    width: 84px;
    height: 7px;
    background-color: #000;
    position: absolute;
}
.about-us-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    margin-top: 47px;
    margin-bottom: 48px;
}
.about-us-description{
    margin: 0;
    margin-bottom: 30px;
}
.about-us-list {
    position: relative;
    line-height: 20px;
    font-weight: 700;
    padding-left: 34px;
    margin: 0;
    margin-bottom: 30px;
    list-style-type: none;
}
.about-us-list li::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #ffc700;
    border-radius: 15px;
    left: 0;
}
.about-us-item{
    margin-bottom: 19px;
}
.about-us-item:last-child{
    margin-bottom: 0;
}

.about-us-text{
    color: #000;
}
.information-button{
    display: block;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: none;
    width: 270px;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    background:none;
    border: none; 
}
.information-button::after{
    position: absolute;
    content: "";
    width: 270px;
    height: 8px;
    background-color: #ffe17f;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}
.information-button:hover{
    background-color: #ffe17f;
}
.information-button:hover::after{
    width: 0;
}
.information-button:active{
    background-color: #ffcc33;
}
.information-button:active::after{
    width: 0;
}

.contacts::before{
    content: '';
    width: 84px;
    height: 7px;
    background-color: #000;
    position: absolute;
}
.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    margin-top: 47px;
    margin-bottom: 48px; 
}
.contacts-description{
    margin-bottom: 30px;
}
.contacts-address{
    margin-bottom: 30px;
}
.contacts-subtitle{
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}
.contacts-address-text{
    font-style: normal;
}
.contacts-phone{
    font-style: normal;
    text-decoration: underline;
}
.contacts-schedule-wrapper{
    margin-bottom: 30px;
}
.contacts-schedule{
    padding: 0;
    list-style-type: none;
}
/*Подписка на рассылку*/
.mailing-list{
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
}
.mailing-list-text{
    display: flex;
}

.mailing-list-title{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    margin: 64px 252px 144px 0;
    width: 348px;
}
.mailing-list-discription{
    margin-top: 74px;
    width: 560px;

}
.mail-form{
    display: grid;
    margin-left: -6px;
    padding: 0px 140px 56px 140px;
    grid-template-columns: 556px 253px 1fr;
    grid-template-rows: 57px;
}
.mail-form::after{
    content: "Это бесплатно";
    align-self: center;
    justify-self: right;
}
.mail-text{
    border-color: none;
    border-bottom:3px solid #c4c4c4;
}
.mailing-list-button{
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-weight: 800;
    background-color: none;
    border: none;
    border: 3px solid #c4c4c4;
}
/*Футер*/
.main-footer {

    height: 321px;
    background-color: #444444;
}
.page-footer{
    display: flex;
}
.footer-address{
    margin: 62px 124px 77px 0px;
}
.footer-logo{
    margin-bottom: 35px;
}
.about-text {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: #ffffff;
}
.footer-links-container{
    margin-right: 183px;
    margin-top: 137px;
    margin-bottom: 61px;
    padding-top: 0;
    width: 444px;
}
.footer-services{
    justify-content: space-between;

}
.footer-services-list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}
.footer-social{
    display: flex;
}

.footer-services-link {
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}
.copyright{
    margin: 140px 0 65px 0;

}
.copyright-telephone {
    font-style: 36px;
    line-height: 20px;
    font-style: normal;
    text-decoration: underline;
    color: #ffffff;
}
/* Каталог*/
.main-inner{
    background-color: #ffffff;
}
.inner-header-title{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}
.breadcrumbs-link{
    line-height: 19px;
    color: #000;
}
.catalog-filter-title{
    line-height: 20px;
    color: #000;
    font-weight: 700;
}
.control-input{
    font-size: 16px;
    line-height: 19px;
}
.product-card-title{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
}
.product-card-price{
    line-height: 21px;
}
.pagination-show-more{
    font-family: "Raleway", sans-serif; ;
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}
.pagination-list-text{
    font-family: "Raleway", sans-serif; ;
    font-size: 18px;
    line-height: 21.13px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase; 
}